body{
    background: linear-gradient(to bottom right, #2f4bbc 0%, #3C5AA6 40%, #FF6A00 100%);
    background-size: cover;
    min-height: 100vh;
    font-family: "poppins", arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.logoVoltar{
    position: absolute;
    top: 20px;
    left: 20px;  
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoVoltar img{
    width: 60px;
}

.container{
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.1);
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border: solid 1px;
    border-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(100px);
}

.container p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: decimal;
}

.container li::marker{
    font-weight: bold;
}