@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cor-pagina-branco);
}

h1 { font-size: 46px; }

h2 {
    font-size: 34px;
    font-weight: 600;
    color: var(--cor-texto-roxo);
}

p { font-size: 20px; }

/* Variáveis */
:root {
    /* Cores */
    --cor-pagina-azul: #1E3A8A;
    --cor-pagina-laranja: #FF7A00;
    --cor-pagina-branco: #F8F8FF;

    --cor-texto-roxo: #3A3A6A;
    --cor-texto-preto: #111111;
    --cor-texto-branco: #FFFFFF;

    /* Fontes */
    --fonte-poppins: "Poppins";
    --fonte-tamanho-titulo: 50px;
    --fonte-tamanho-texto: 30px;

    /* Gap */
    --gap-principal: 14px;
}

/* Animações */
@keyframes slideInDefault {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideOutDefault {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes enterBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes exitBackground {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Home - Estilização Principal */

/* Header */

/* Menu Lateral */

.header .sideMenu {
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: 100;

    display: none;
    left: 0;
    top: 0;
}

.open .leftSideMenu { animation: slideInDefault 0.3s ease-in-out; }

.open .rightSideMenu { animation: enterBackground 0.3s forwards ease-in-out; }

.close .leftSideMenu { animation: slideOutDefault 0.3s ease-in-out forwards; }

.close .rightSideMenu { animation: exitBackground 0.3s forwards ease-in-out; }

.noscroll {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y: scroll;
}

.header .sideMenu .leftSideMenu {
    width: 450px;
    height: auto;
    background-color: var(--cor-pagina-azul);
    z-index: 2;
}

.header .sideMenu .exitButtonDiv {
    position: fixed;
    width: inherit;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(17 17 17 / 0.31);

    padding: 0 14px;
}

.header .sideMenu .exitButtonDiv div {
    background: none;
    padding: 0;

    display: flex;
    align-items: center;
    height: 100%;
}

.header .sideMenu .exitButtonDiv button {
    all: unset;

    background-color: var(--cor-pagina-laranja);
    border-radius: 50px;

    width: 40px;
    height: 40px;
    padding: 8px;

    transition: background-color 0.3s ease-out, filter 0.3s ease-out;
}

.header .sideMenu .exitButtonDiv button:hover { background-color: var(--cor-texto-branco); }

.header .sideMenu .exitButtonDiv button:hover img { filter: invert(1); }

.header .sideMenu .exitButtonDiv img { width: 80px; }

.header .sideMenu .exitButtonDiv button img { width: 100%; height: 100%; }

.header .sideMenu .navBar {
    height: calc(100% - 100px);
    margin-top: 100px;
    padding: 14px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: auto;
}

.header .sideMenu .userOptions { width: 100%; display: flex; justify-content: space-between; }

.header .sideMenu .pagePaths {
    height: auto;
    padding: 8px 0 0 2px;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    color: var(--cor-texto-branco);
    font-size: 20px;
}

.header .sideMenu .pagePaths a { padding: 4px 8px; }

.header .rightSideMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgb(17 17 17 / 0.5);
    right: 0;
    top: 0;
    z-index: 1;
}

/* Header Principal */

.header {
    position: fixed;

    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;

    width: 100%;
    display: flex;
    background-color: var(--cor-pagina-azul);

    box-shadow: 1px 1px 2px rgba(17, 17, 17, .31);

    padding: 10px 5%;
    column-gap: 4%;

    z-index: 99;
}

.hidden { transform: translateY(-100%); }

.header img {
    width: 80px;
    height: auto;
}

.header .navOptions { align-content: center; }

.header .navOptions ul {
    list-style: none;

    display: flex;
    column-gap: 50px;
    color: var(--cor-texto-branco);
    font-size: 18px;
}

.header a, #mainSection a { text-decoration: none; color: inherit; }

.header a:not(.doarBtn):hover { text-decoration: underline; text-underline-offset: 5px; }

.header .rightSide {
    margin-left: auto;

    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header .doarBtn {
    color: var(--cor-texto-branco);
    background-color: var(--cor-pagina-laranja);

    text-transform: uppercase;
    box-shadow: 0 10px 50px var(--cor-texto-preto);
    padding: 10px 18px;
    border-radius: 14px;
    font-weight: bold;

    align-content: center;

    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    cursor: pointer;
}

.header .doarBtn:hover { color: var(--cor-pagina-laranja); background-color: var(--cor-texto-branco); }

.header .userBtn {
    all: unset;

    width: 50px;
    height: 50px;
    padding: 10px;
    background: linear-gradient(
        to bottom,
        #FD5C33 0%,
        var(--cor-pagina-laranja) 68%,
        rgb(255 252 252 / 0.87) 100%
    );

    border-radius: 50%;

    box-sizing: border-box;

    transition: background 0.3s ease-out, filter 0.3s ease-out;
    cursor: pointer;
}

.header .userBtn:hover { background: var(--cor-texto-branco); }

.header .userBtn:hover img { filter: invert(1); }

.header .userBtn img { width: 100%; }

.header .burgerMenu { display: none; }

.header .userModal {
    position: fixed;

    background-color: rgb(17 17 17 / 1);
    backdrop-filter: blur(8px);
    right: 2.5%;
    top: 100px;

    border: 2px solid var(--cor-pagina-branco);
    border-radius: 14px;

    display: none;

    z-index: 101;
}

.header .userModal.activeModal { display: block; }

.header .userModal ul { list-style: none; }

.header .userModal li {
    padding: 8px 10px;
    font-size: 18px;
    color: var(--cor-texto-branco);
}

.header .userModal a {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.header .userModal img {
    width: 34px;
}

.header .userModal hr {
    border: none;
    height: 1px;
    background-color: var(--cor-pagina-branco);
}

/* Seção 1 - Principal */

#mainSection {
    position: relative;

    background-image:
        linear-gradient(
            to right,
            rgb(30 58 138 / 0.65) 10%,
            rgb(255 106 0 / 0.15) 100%
        ),
        url("../assets/images/HomeMainImg.webp");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 8% 5% 16% 5%;
    margin-top: 100px;
}

#mainSection .leftSide {
    width: 44%;

    display: flex;
    flex-direction: column;

    row-gap: 24px;
}

#mainSection h1, #mainSection h3 { color: var(--cor-texto-branco); }

#mainSection h3 { font-size: 24px; font-weight: 600 }

#mainSection .colouredText { color: var(--cor-pagina-laranja); }

#mainSection .leftSide div {
    display: flex;
    gap: 20px;
}

#mainSection .doarBtn, #mainSection .coletaBtn {
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-texto-branco);
    padding: 12px 18px;
    border-radius: 14px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    cursor: pointer;
}

#mainSection .doarBtn {
    background-color: var(--cor-pagina-laranja);
    text-transform: uppercase;
}

#mainSection .doarBtn:hover { background-color: var(--cor-texto-branco); color: var(--cor-pagina-laranja); }

#mainSection .coletaBtn { background-color: #2563EB; }

#mainSection .coletaBtn:hover { background-color: var(--cor-texto-branco); color: #2563EB; }

/* Seção 2 - Sobre Nós */

#aboutSection {
    position: relative;

    padding: 30px 5%;

    display: grid;
    row-gap: 24px;
}

#aboutSection .topAbout h2 { text-align: center; }

#aboutSection .ourMission {
    position: relative;

    display: grid;
    row-gap: var(--gap-principal);

    box-shadow: 0 0px 24px rgb(17 17 17 / 0.15);

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    border-radius: 20px;
}

#aboutSection .ourMission::before {
    content: "";
    position: absolute;

    inset: 0;
    background: linear-gradient(
        45deg,
        rgb(255 122 0 / 0.7) 0%,
        var(--cor-pagina-branco) 50%,
        var(--cor-pagina-azul) 100%
    );
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;

    border-radius: inherit;
}

#aboutSection .ourMission hr {
    margin: 0 calc(2.5% + 55px);
    border: none;
    background-color: rgb(17 17 17 / 0.5);
    height: 1px;
}

#aboutSection .title {
    display: flex;
    align-items: center;

    column-gap: var(--gap-principal);
    padding: 0 2.5%;
}

#aboutSection .title img { width: 110px; }

#aboutSection .missionContent {
    display: grid;
    row-gap: 24px;

    margin: 0 calc(2.5% + 55px);
    padding-bottom: 30px;
}

#aboutSection .valuesDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: var(--gap-principal);
}

#aboutSection .valuesBox {
    width: 310px;

    display: grid;

    grid-template-columns: 75px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: "img title" "text text";

    grid-row-gap: 4px;

    border-radius: 14px;
    border: 8px solid var(--cor-pagina-branco);
    box-shadow: 0 8px 20px rgb(17 17 17 / 0.15);
    padding: 8px;
}

#aboutSection .solidariedade { background: linear-gradient(to bottom, #5B8CFF 0%, #B2CFFB 65%, #C6D8FD 100%); }

#aboutSection .transparencia { background: linear-gradient(to bottom,#CECDF7 23%, var(--cor-texto-branco) 100%); }

#aboutSection .empatia { background: linear-gradient(to bottom, #FDA381 23%, #FDAFA0 61%, #FED8D9 100%); }

#aboutSection .valuesBox .img {
    grid-area: img;

    width: 75px;
    height: auto;

    filter: drop-shadow(0px 0px 12px #FEDAB3);
}

#aboutSection .valuesBox .title {
    grid-area: title;
    
    font-size: 22px;
    padding-left: 18px;
}

#aboutSection .valuesBox:not(.solidariedade) .title { color: var(--cor-texto-roxo) }

#aboutSection .solidariedade .title { color: var(--cor-texto-branco) }

#aboutSection .valuesBox .text {
    grid-area: text;

    font-size: 16px;
    text-align: center;
}

#aboutSection .ourStory {
    display: flex;

    padding: 30px 0 0 2.5%;
    column-gap: var(--gap-principal);
}

#aboutSection .ourStory .leftSide { display: flex; flex-direction: column; width: 60%; row-gap: 24px; justify-content: center; padding-bottom: 30px; }

#aboutSection .ourStory .rightSide { width: 40%; display: flex; align-items: flex-end; justify-content: flex-end; }

#aboutSection .ourStory img {
    width: 90%;

    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}


/* Seção 3 - Como Você Pode Ajudar */

#supportSection {
    position: relative;

    display: grid;
    row-gap: 24px;

    padding: 30px 5%;
    box-shadow: 0 0px 24px rgb(17 17 17 / 0.15);

    z-index: 1;
}

#supportSection::before {
    content: "";
    position: absolute;

    inset: 0;
    background: linear-gradient(
        45deg,
        rgb(255 122 0 / 0.5) 0%,
        var(--cor-pagina-branco) 50%,
        rgb(30 58 138 / 0.5) 100%
    );
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
}

#supportSection .topSupport { display: grid; row-gap: var(--gap-principal); }

#supportSection h2 { text-align: center; }

#supportSection p span { font-weight: 600; }

#supportSection .supportDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px 5%;
    justify-items: center;
}

#supportSection .supportBox {
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: var(--gap-principal);
    padding: 14px;

    border-radius: 14px;
    background-color: var(--cor-pagina-branco);
    box-shadow: 0 0px 24px rgb(17 17 17 / 0.15);

    text-align: center;
}

#supportSection .supportBox img { width: 120px; height: auto; }

#supportSection .supportBox h4 { font-size: 24px; font-weight: 600; color: #6B4062; }

#supportSection .supportBox:first-of-type h4 { color: #3A3AC1 }

#supportSection .supportBox span { font-size: 16px; }

#supportSection .supportBox a {
    width: 100%;
    font-size: 20px;
    color: var(--cor-texto-branco);
    border-radius: 20px;
    padding: 8px 0;

    margin-top: auto;

    text-decoration: none;
    transition: transform 0.3s ease-out;

    cursor: pointer;
}

#supportSection .supportBox a:hover { transform: scale(1.02); }

#supportSection .doar a {
    background: linear-gradient(
        to right,
        #566BFB 9%,
        #697BFD 46%,
        #5166F7 77%,
        #445EED 100%
    );
}

#supportSection .voluntario a {
    background: linear-gradient(
        to right,
        #FD734A 0%,
        #FD8146 37%,
        #FB6E4C 71%,
        #F2684A 96%
    );
}

#supportSection .roupasAlimentos a {
    background: linear-gradient(
        to bottom,
        #CB6DD7 0%,
        #B069D4 24%,
        #A65DC4 58%,
        #8545C4 96%
    );
}

#supportSection .cPonto a {
    background: linear-gradient(
        to bottom,
        #8DAC7C 8%,
        #679E83 47%,
        #578D7E 58%,
        #598F80 60%,
        #4B8072 96%
    );
}


/* Seção 4 - Recomeços que Merecem ser Ouvidos - Histórias dos Moradores de Rua */

#realStoriesSection h2 { text-align: center; }

#realStoriesSection .topStories { display: grid; row-gap: 14px; padding: 30px 5%; } 

#realStoriesSection .mainStoriesDiv {
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 24px;
    z-index: 1;

    padding: 30px 0;
}

#realStoriesSection .mainStoriesDiv::before {
    content: "";
    position: absolute;

    inset: 0;
    background: linear-gradient(
        45deg,
        rgb(255 122 0 / 0.5) 26%,
        var(--cor-pagina-branco) 50%,
        rgb(30 58 138 / 0.5) 100%
    );
    opacity: 0.5;
    pointer-events: none;
    border-radius: 14px;
    z-index: -1;
}

#realStoriesSection .mainStoriesBox {
    display: grid;
    grid-template-columns: 25% auto;

    grid-template-areas: "img content";
    grid-gap: 30px;
    padding: 20px;
    margin: 0 5%;

    background-color: rgb(255 255 255 / 0.5);
    border-radius: 14px;
}

#realStoriesSection img {
    grid-area: img;

    width: 100%;
    height: auto;
    align-self: center;

    border-radius: inherit;
}

#realStoriesSection .content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 14px;

    padding: 30px 0;
}

#realStoriesSection h4 { font-size: 24px; font-weight: 600; }

#realStoriesSection .content p span { font-weight: 600; }


/* Seção 5 - Feedback dos Usuários */

#feedbackSection {
    position: relative;
    padding: 120px 5%;
}

#feedbackSection .carouselWrapper {
    position: relative;
    display: grid;
    width: 100%;

    grid-template-columns: 50px auto 50px;
    grid-template-areas: "leftBtn container rightBtn" "indicators indicators indicators";

    grid-gap: 14px;
}

#feedbackSection .carouselContainer {
    position: relative;
    grid-area: container;

    width: 100%;
    overflow: hidden;
    box-shadow: 0 0px 24px rgb(17 17 17 / 0.2);
    border-radius: 14px;
    z-index: 1;
}

#feedbackSection .carouselContainer::before {
    content: "";
    position: absolute;

    inset: 0;
    background: linear-gradient(
        45deg,
        rgb(255 122 0 / 0.7) 0%,
        var(--cor-pagina-branco) 50%,
        var(--cor-pagina-azul) 100%
    );
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;

    border-radius: inherit;
}

#feedbackSection .carouselTrack {
    display: flex;
    transition: transform 0.5s ease;
}

#feedbackSection .carouselBox {
    min-width: 100%;

    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 14px;
    
    padding: 30px;
}

#feedbackSection .carouselBox .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}

#feedbackSection .carouselBox .userInfo img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 10px solid var(--cor-pagina-azul);
    outline: 2px solid var(--cor-pagina-branco);
    box-shadow: 0 0 20px rgb(17 17 17 / 0.5);
}

#feedbackSection .carouselBox .stars { display: flex; column-gap: 2px; }

#feedbackSection .carouselBox .star {
    width: 24px;
    height: 24px;
    fill: #ccc;
    stroke: var(--cor-texto-branco);
    stroke-width: 1.5;
    stroke-linejoin: round;
}

#feedbackSection .carouselBox .star.activeStar { fill: #FFB400; }

#feedbackSection .arrow {
    position: absolute;

    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 4px;
    opacity: 0.5;
    transition: opacity 0.5s;

    cursor: pointer;
}

#feedbackSection .arrow:hover { opacity: 1; }

#feedbackSection .arrow img { width: 100%; }

#feedbackSection .arrow.left { grid-area: leftBtn; left: 0px; }

#feedbackSection .arrow.right { grid-area: rightBtn; right: 0px; transform: translateY(-50%) rotate(180deg); }

#feedbackSection .indicators {
    grid-area: indicators;

    display: flex;
    justify-content: center;
    margin-top: 14px;
    column-gap: 8px;
}

#feedbackSection .indicators span {
    width: 12px;
    height: 12px;
    background-color: rgb(17 17 17 / 1);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#feedbackSection .indicators .active {
    width: 36px;
    opacity: 1;
}

/* Footer */

.footer {
    position: relative;

    background-color: var(--cor-pagina-azul);
    color: var(--cor-texto-branco);
    padding: 14px 5% 8px 5%;
}

.footer nav {
    display: grid;

    grid-template-areas: "logo pages info partners";
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.footer nav h3 { font-size: 24px; font-weight: 600; }

.footer .logo {
    grid-area: logo;

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: var(--gap-principal);
}

.footer .logo img {
    width: 100px;
}

.footer .logo h4 { text-align: center; font-size: 18px; font-weight: 600; }

.footer .pages { grid-area: pages; display: flex; flex-direction: column; row-gap: var(--gap-principal); }

.footer .pages ul { list-style: none; display: flex; flex-direction: column; row-gap: 4px; }

.footer .pages ul li { font-size: 16px; color: var(--cor-texto-branco); }

.footer .pages a { text-decoration: none; color: inherit; }

.footer .pages a:hover { text-decoration: underline; }

.footer .info {
    grid-area: info;

    display: flex;
    flex-direction: column;
    row-gap: var(--gap-principal);
}

.footer .info p { font-size: 16px; }

.footer .partners {
    grid-area: partners;

    display: flex;
    flex-direction: column;
    row-gap: var(--gap-principal);
}

.footer .partnersDiv { display: flex; column-gap: var(--gap-principal); }

.footer .partners img { width: 70px; border-radius: 50%; }

.footer hr { background-color: rgb(255 255 255 / 0.5); height: 1px; border: none; margin: 20px 0 10px 0; }

.footer h5 { text-align: center; font-size: 16px; font-weight: 500; }

/* Home - Estilização Responsiva */

@media (max-width: 1280px) {
    h1 { font-size: 42px; }

    p { font-size: 18px; }

    /* Seção 1 - Principal */

    #mainSection h3 { font-size: 22px }

    #mainSection .leftSide { width: 70%; }

    /* Seção 2 - Sobre Nós */

    #aboutSection .missionContent, #aboutSection .ourMission hr { margin: 0 2.5%; }

    #aboutSection .valuesDiv {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #aboutSection .valuesBox { width: 100%; }

    #aboutSection .valuesBox .title { width: 100%; padding: 0 8% 0 0; justify-content: center; }

    #aboutSection .ourStory { flex-direction: column; padding: 30px 2.5%; }

    #aboutSection .ourStory .leftSide, #aboutSection .ourStory .rightSide { width: 100%; }

    #aboutSection .ourStory .rightSide { justify-content: center; }

    #aboutSection .ourStory img { width: 100%; border-radius: 14px; }

    /* Seção 4 - Histórias dos Moradores */

    #realStoriesSection .mainStoriesBox { grid-template-columns: 40% auto; }
}

@media (max-width: 1000px) {
    /* Header */

    /* Menu Lateral */
    .sideMenu .rightSide { backdrop-filter: none; background-color: rgb(17 17 17 / 0.8); }

    /* Header Principal */

    .header .burgerMenu {
        all: unset;

        display: block;
    }

    .header .burgerMenu img { width: 32px; }

    .header .navOptions, .header .rightSide .doarBtn, .header .rightSide .userBtn { display: none; }

    .header .userModal {
        min-width: 220px;
        bottom: 78px;
        top: unset;
        right: unset;
        left: calc(450px - 234px);
    }

    /* Seção 4 - Histórias dos Moradores */

    #realStoriesSection .mainStoriesBox {
        grid-template-columns: auto;
        grid-template-areas: "img" "content";
    }

    #realStoriesSection .content { padding: 0; }

    /* Seção 5 - Feedback dos Usuários */

    #feedbackSection { padding: 60px 5%; }

    #feedbackSection .carouselBox .userInfo img {
        width: 180px;
        height: 180px;
    }

    /* Footer */

    .footer nav { grid-template-columns: repeat(2, 1fr); grid-template-areas: "logo partners" "pages info"; }
}

/* Tablet */

@media (max-width: 768px) {
    h1 { font-size: 36px; }

    h2 { font-size: 32px; text-align: left !important; }

    /* Header */

    /* Menu Lateral */
    .header .sideMenu .leftSideMenu { width: 300px; }

    /* Header Principal */

    .header .userModal { min-width: calc(300px - 28px); left: 14px; }

    /* Seção 1 - Principal */

    #mainSection {
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;

        padding: 8% 5% 16% 5%;
        margin-top: 100px;
    }

    #mainSection .leftSide { width: 100%; }

    #mainSection .leftSide div { column-gap: 14px; }

    #mainSection .doarBtn, #mainSection .coletaBtn {
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 8px;

        cursor: pointer;
    }

    /* Seção 2 - Sobre Nós */

    #aboutSection .valuesDiv { grid-template-columns: repeat(1, 1fr); }

    /* Seção 3 - Como Você Pode Ajudar */

    #supportSection .supportDiv {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 30px var(--gap-principal);
    }

    #supportSection .supportBox { max-width: none; }

    /* Seção 4 - Histórias dos Moradores */

    #realStoriesSection h2 { text-align: left; }

    /* Seção 5 - Feedback dos Usuários */

    #feedbackSection { padding: 30px 5%; }

    #feedbackSection .carouselBox {
        flex-direction: column;

        padding: 14px;
    }
}

@media (max-width: 480px) {
    h1 { font-size: 34px; }

    h2 { font-size: 30px; }

    /* Header */

    /* Menu Lateral */
    .header .sideMenu .leftSideMenu { width: 275px; }

    .header .sideMenu .exitButtonDiv button { width: 32px; height: 32px; }

    .header .sideMenu .navBar { height: calc(100% - 80px); margin-top: 80px; }

    /* Header Principal */
    .header img { width: 60px; }

    .header .sideMenu .exitButtonDiv { height: 80px; }

    .header .sideMenu .exitButtonDiv img { width: 60px; }

    .header .userModal { min-width: calc(275px - 28px); }

    /* Seção 1 - Principal */

    #mainSection {
        background-image:
        linear-gradient(
            to right,
            rgb(30 58 138 / 0.85) 15%,
            rgb(255 106 0 / 0.25) 100%
        ),
        url("../assets/images/HomeMainImg.webp");
        background-position: 80% center;

        margin-top: 80px;
    }

    #mainSection .leftSide div { flex-direction: column; }

    #mainSection .doarBtn, #mainSection .coletaBtn { text-align: center; }

    /* Seção 2 - Sobre Nós */

    #aboutSection { padding: 30px 0; }

    #aboutSection .topAbout { padding: 0 5%; }

    #aboutSection .valuesBox .title { padding: 0 30px 0 0; }

    #aboutSection .title img { width: 80px; }

    #aboutSection .ourMission { border-radius: 0; }

    #aboutSection .missionContent { margin: 0 5%; }

    #aboutSection .missionContent, #aboutSection .ourMission hr { margin: 0 5%; }

    #aboutSection .valuesBox { grid-template-columns: 60px auto; grid-template-rows: 60px auto; }

    #aboutSection .valuesBox .img { width: 65px; }

    #aboutSection .ourStory { padding: 30px 5%; }

    /* Seção 5 - Feedback dos Usuários */

    #feedbackSection .carouselWrapper {

        grid-template-columns: auto ;
        grid-template-areas: "container" "indicators";
        grid-gap: 8px;
    }

    #feedbackSection .arrow { display: none; }

    /* Footer */

    .footer nav { grid-template-columns: repeat(1, 1fr); grid-template-areas: "logo" "partners" "pages" "info"; justify-items: center; }

    .footer .logo, .footer .partners, .footer .pages, .footer .info { width: 80%; }
}